#responseWrapper {width:100%; padding:4em auto;}
			
#responseContainer {
	min-height:550px;
	display:none;
	z-index:7;position:relative;
	margin:0 auto; float:center;
background-color: black;width:85%;
font-family: Consolas, Georgia, "Times New Roman", Times, serif;font-weight:italic; color: white; padding:20px 20px 20px 20px;}
				
#responseContainer p {text-align:center;	z-index:7;padding:20px;}