:root {
	/* gold number ratio between H and L */
	--main-half-width:139px;
	--main-width:278px;
	--main-minus-half-width:-139px;
	--main-minus-width:-278px;
	--main-half-height:225px;
	--main-minus-half-height:-225px;
	--main-height:450px;
	/* variable de bricolage : les transformations CSS sont beugées : brico=-(H-L) */
	--main-minus-brico:-172px;
}

#wijaSlidesWrapper{
	perspective: 1178px;
	perspective-origin: 50% var(--main-half-width);
	height:728px;
	z-index:0;
	padding:3em 0 0 0;
	margin:1.62em auto 1.62em auto;
	}

.slideBox{
	z-index:0;
	margin-top:2.61em;
	margin-bottom:2.61em; 
	margin-right:auto;
	margin-left:auto;
	position:relative;
	width:var(--main-width);
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	animation: spinY 30s infinite linear;
	-webkit-animation: spinY 30s infinite linear;
}

.slideBox div{
	position: absolute;
	width: var(--main-width);
	font-size:var(--main-half-width);
	text-align:center;
	background-color:black;
	display:inline-block;
	align-content: center; 
	color:white;
	box-shadow:inset 0px 0px 30px dodgerblue;
	margin:0;
	padding:0;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
	cursor:default;
}

/* .slideBox span{ */
	/* margin:100px auto; */
	/* vertical-align:middle; */
	/* } */

.top, .bottom{height:var(--main-width);	line-height:var(--main-width);}

.back, .right, .left, .front{height:var(--main-height);	line-height:var(--main-height);}

.slideBox div:hover{background-color:darkgrey;}

.back {
	transform: translateZ(var(--main-minus-half-width)) rotateY(180deg);
	-ms-transform: perspective(1178px) translateZ(var(--main-minus-half-width)) rotateY(180deg);
	-webkit-transform: translateZ(var(--main-minus-half-width)) rotateY(180deg);	
	-moz-transform: translateZ(var(--main-minus-half-width)) rotateY(180deg);	
}
.right {
	transform: rotateY(90deg) translateX(var(--main-half-width));
	transform-origin: top right;
	-ms-transform: perspective(1178px) rotateY(90deg) translateX(var(--main-half-width));
	-ms-transform-origin: perspective(1178px) top right;
	-webkit-transform: rotateY(90deg) translateX(var(--main-half-width));
	-webkit-transform-origin: top right;
}
.left {
	transform: rotateY(270deg) translateX(var(--main-minus-half-width));
	transform-origin: center left;
	-ms-transform: perspective(1178px) rotateY(270deg) translateX(var(--main-minus-half-width));
	-ms-transform-origin: perspective(1178px) center left;
	-webkit-transform: rotateY(270deg) translateX(var(--main-minus-half-width));
	-webkit-transform-origin: center left;
}
.top {
	transform: rotateX(-90deg) translateY(var(--main-minus-half-width));
	transform-origin: top center;
	-ms-transform: perspective(1178px)  rotateX(-90deg) translateY(var(--main-minus-half-width));
	-ms-transform-origin: perspective(1178px)  top center;
	-webkit-transform: rotateX(-90deg) translateY(var(--main-minus-half-width));
	-webkit-transform-origin: top center;	
}
.bottom {
	transform: rotateX(90deg) translateY(var(--main-half-width)) translateZ(var(--main-minus-brico));
	transform-origin: bottom center;
	-ms-transform: perspective(1178px) rotateX(90deg) translateY(var(--main-half-width)) translateZ(var(--main-minus-brico));
	-ms-transform-origin: perspective(1178px) bottom center;
	-webkit-transform: rotateX(90deg) translateY(var(--main-half-width)) translateZ(var(--main-minus-brico));
	-webkit-transform-origin: bottom center;
}
.front {
	transform: translateZ(var(--main-half-width));
	-ms-transform: perspective(1178px) translateZ(var(--main-half-width));
	-webkit-transform: translateZ(var(--main-half-width));
}

@keyframes spinY {
	from { transform: rotateY(0); }
	to { transform: rotateY(-360deg); }
}

@-webkit-keyframes spinY  {
	from { transform: rotateY(0); }
	to { transform: rotateY(-360deg); }
}

.spinableY {
	animation: spinY 3s 1 linear;
}
	
.fadeable {
	animation: fadeoutin 2s 1 linear;
}

@keyframes fadeoutin  {
  0%   {opacity:1;}
  50%  {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeoutin  {
  0%   {opacity:1;}
  50%  {opacity:0;}
  100% {opacity:1;}
}

.fadein {
	animation: fadein 2s;
}

@keyframes fadein  {
  from   {opacity:0;}
  to  {opacity:1;}
}

@-webkit-keyframes fadein  {
  from   {opacity:0;}
  to  {opacity:1;}
}

.fadeout {
	animation: fadeout 2s;
}

@keyframes fadeout  {
  from   {opacity:1;}
  to  {opacity:0;}
}

@-webkit-keyframes fadeout  {
  from   {opacity:1;}
  to  {opacity:0;}
}

.popBox {display:none;z-index:2;
		margin:1.2em; 
		position:absolute;
		padding:3em;
        border-radius: 0.5em;
		max-width:22.5em;
		min-height:13.9em;
		font-size:90%;
		font-family: Consolas, Georgia, "Times New Roman", Times, serif;
        line-height:1.5em;
		box-shadow:inset 0px 0px 30px dodgerblue;
}

p em{font-weight:bold;color:blue;}


.popBox a{font-size:125%;text-decoration:underline;color:blue;margin:1.2em 0 0 0;}

.popBox p a{
			margin:0 0 0 0;text-align:center; padding:0 0;
            color:black;
            font-weight:normal;line-height:1.2em;}
			
.social_media_button{border-radius:50%;margin:0.5em auto; }

.social_media_button:hover{background-color:dodgerblue;}

.social_media_button:focus{  outline: none;}

#wijaBox_W {background-color:white;}
#wijaBox_I {background-color:white;transform:translateX(25em)}
#wijaBox_J {background-color:white;transform:translateY(10em);}
#wijaBox_A {background-color:white;transform:translateX(25em) translateY(10em);}


.wijaSlide {
	height:var(--main-height);width:var(--main-width);
	position:absolute;
	}

.wijaSlide h3 {font-size:5em;}

.rotateLeft{
  -webkit-transform-style: preserve-3d; /* Safari 3-8  */  
  -webkit-transform: rotateY(-45deg) translateX(var(--main-minus-width)); /* Safari 3-8  */
  transform-style: preserve-3d;
  transform: rotateY(-45deg) translateX(var(--main-minus-width));
  -ms-transform: rotateY(-45deg) translateX(var(--main-minus-width));
    opacity:0.8;
}

.rotateRight{
  -webkit-transform-style: preserve-3d; /* Safari 3-8  */  
  -webkit-transform: rotateY(45deg) translateX(var(--main-width)); /* Safari 3-8  */
  transform-style: preserve-3d;
  transform: rotateY(45deg) translateX(var(--main-width));
  -ms-transform: rotateY(45deg) translateX(var(--main-width));
  opacity:0.8;
}