/* mobile CSS*/
#topnavDropMenuMobile{float:left;display:none;z-index:99;
background-color: lightgrey;width:100%; padding:1.2em;
margin:0 0 0 0; overflow:hidden;
box-shadow: 0 0 8px 0 rgba(0,0,0,0.2); 
}
#topnavMobile{position:fixed;overflow:hidden;width:100%;display:none;}

#topnavDropMenuMobile ul{ list-style-type: none;}

#topnavDropMenuMobile ul li {
	padding:0.5em 0.75em 0.5em 0.75em;
	margin-left:0em;
	display:inline-block;}

#topnavDropMenuMobile ul a{
	padding:0;
	line-height:162%;
}

.animatedButton{}

.animatedButton:hover{
	color:red;
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1); 
	border-bottom :2px dodgerblue solid;
	}

.disabledButton{
	/*opacity:0.3;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
	cursor:default;*/
}

.disabledButton:hover{
	color:red;
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1); 
	border-bottom :2px dodgerblue solid;
	}
