#firstPost {margin:1.2em auto;padding:1.2em;}
@media only screen and (orientation:portrait),only screen and (max-width:900px){#firstPost {margin:1.2em 0.5;padding:0;}}

.textBox{border :2px gray solid;
border-radius:1.2em;padding:1.2rem 1.62rem;
margin:0 auto 3.6em auto;}

.textBox span img{display: inline;float:right;vertical-align:middle;max-height:50px;}

/*.textBox a{color:dodgerblue;text-align:right;font-size:0.9rem !important;}*/
/*@media only screen and (orientation:portrait),only screen and (max-width:900px){.textBox a {font-size:1.1rem !important;}}*/

.textBox span a{display: inline;float:right;padding:0.2em;}

.textBox p a{color:dodgerblue;text-align:right;font-size:0.9rem !important;cursor: pointer;}

.textBox p {margin:1rem 0;}

.textBox span img:hover{
	animation: flipY 1s ease;
	-webkit-animation: flipY 1s ease;
}


@keyframes flipY  {
	from { transform: rotateY(0); }
	to { transform: rotateY(-360deg); }
}

@-webkit-keyframes flipY  {
	from { transform: rotateY(0); }
	to { transform: rotateY(-360deg); }
}