#tableContactWrapper {margin:4.5em auto;max-width:30em; max-height:30em;}
#tableContact {width:100%; margin:0 auto; display:block;}
#tableContact tr:nth-child(odd) td:nth-child(odd){background-color: dodgerblue;}
#tableContact tr:nth-child(odd) td:nth-child(even){background-color: #ff8000;}
#tableContact tr:nth-child(even) td:nth-child(odd){background-color: #ff8000;}
#tableContact tr:nth-child(even) td:nth-child(even){background-color: dodgerblue;}
#tableContact img {max-height:3em; margin:0 auto;}
#tableContact td{width:33%;}
.mailBoxItem{padding:2em;margin:0;}
/* #tableContact tr{padding:1em;height:33%;} */

#mailBox{
	text-align:left;
	animation: fadein 1s;}

.flipableY{
	animation: flipY 1s ease;
	-webkit-animation: flipY 1s ease;
}


@keyframes flipY  {
	from { transform: rotateY(0); }
	to { transform: rotateY(-360deg); }
}

@-webkit-keyframes flipY  {
	from { transform: rotateY(0); }
	to { transform: rotateY(-360deg); }
}

label{color:black;width:100%;}


.blueBeat {
  -webkit-animation-name: bluebeat; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 9s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;
  animation-name: bluebeat;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bluebeat {
  0%   {background-color: dodgerblue;}
  50%  {background-color: #f2f2f2;}
  100% {background-color: dodgerblue;}
}

@keyframes bluebeat {
  0%   {background-color: dodgerblue;}
  50%  {background-color: #f2f2f2;}
  100% {background-color: dodgerblue;}
}

.blueBeatFont {
  -webkit-animation-name: bluebeatfont; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 9s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;
  animation-name: bluebeatfont;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bluebeatfont {
  0%   {color: #f2f2f2;}
  50%  {color: dodgerblue;}
  100% {color: #f2f2f2;}
}

@keyframes bluebeatfont {
  0%   {color: #f2f2f2;}
  50%  {color: dodgerblue;}
  100% {color: #f2f2f2;}
}

.redBeat {
  -webkit-animation-name: redbeat; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 12s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;
  animation-name: redbeat;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes redbeat {
  0%   {background-color: #ff8000;}
  50%  {background-color: #f2f2f2;}
  100% {background-color: #ff8000;}
}

@keyframes redbeat {
  0%   {background-color: #ff8000;}
  50%  {background-color: #f2f2f2;}
  100% {background-color: #ff8000;}
}

